* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.trybewarts-header-logo {
  width: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}

#trybewarts-header-title {
  color: white;
  font-size: 30px;
}

.trybewarts-login {
  display: flex;
  right: 0px;
  width: 40%;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#form-primeira-parte {
  flex-direction: row;
  flex-wrap: wrap;
  width: 369px;
}
